    <footer class="app-footer">
      <div class="container text-center py-3">
        <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
            style="color: #fb866a"></i> by Yasir.</small>
      </div>
    </footer>
    <!--//app-footer-->
  </div>
  <!--//app-wrapper-->

  <!-- Javascript -->
  <script src="/assets/plugins/popper.min.js"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- Charts JS -->
  <script src="/assets/plugins/chart.js/chart.min.js"></script>
  <script src="/assets/js/index-charts.js"></script>

  <!-- Page Specific JS -->
  <script src="/assets/js/app.js"></script>

  <!-- jQuery (required for DataTables) -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- Initialize DataTable -->
<script>
  $(document).ready(function () {
    $('#userTable').DataTable({
      responsive: true
    });
  });
</script>

</body>

</html>