<%- include('partials/header') %>

<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Contact</h1>
          <p class="mb-4">
            Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet
            velit.
          </p>
          <p>
            <a href="#" class="btn btn-secondary me-2">Shop Now</a>
            <a href="#" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="/images/couch.png" class="img-fluid" alt="Couch Image" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Contact Form -->
<div class="untree_co-section">
  <div class="container">
    <div class="block">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8 pb-4">
          <!-- Contact Info -->
          <div class="row mb-5">
            <div class="col-lg-4">
              <div class="service no-shadow d-flex align-items-start">
                <div class="service-icon color-1 me-3">
                  <i class="bi bi-geo-alt-fill fs-3"></i>
                </div>
                <div class="service-contents">
                  <p>Z House</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="service no-shadow d-flex align-items-start">
                <div class="service-icon color-1 me-3">
                  <i class="bi bi-envelope-fill fs-3"></i>
                </div>
                <div class="service-contents">
                  <p>info@shopnow.com</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="service no-shadow d-flex align-items-start">
                <div class="service-icon color-1 me-3">
                  <i class="bi bi-telephone-fill fs-3"></i>
                </div>
                <div class="service-contents">
                  <p>+91 9717310486</p>
                </div>
              </div>
            </div>
          </div>
          <% if (success) { %>
          <div class="alert alert-success"><%= success %></div>
          <% } %> <% if (error) { %>
          <div class="alert alert-danger"><%= error %></div>
          <% } %>

          <!-- Contact Form -->
          <form action="/contact" method="POST">
            <div class="row">
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-black" for="fname">First name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    name="fname"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label class="text-black" for="lname">Last name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lname"
                    name="lname"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="text-black" for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>

            <div class="form-group mb-4">
              <label class="text-black" for="message">Message</label>
              <textarea
                class="form-control"
                id="message"
                name="message"
                cols="30"
                rows="5"
                required
              ></textarea>
            </div>

            <button type="submit" class="btn btn-primary-hover-outline">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Form -->

<%- include('partials/footer') %>
